*{
    margin: 0;
    padding:0;
}

#overall{
    letter-spacing: -5px;
    margin: 20px;
    padding: 20px;
    border:#999 1px solid;
    height:auto;
    background-color: #eee;

}

#left, #middle, #right{
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
}


#left{
    margin:0;
    padding:20px;
    position: relative;
    font-family: 微软雅黑;
    width:160px;
    border:#999 1px solid;
    height:auto;
    background-color: #fff;
}

#caption{
    position: absolute;
    left:120px;
    top:20px;
}

img{
    width:80px;
    height:80px;
}

#middle{
    padding:20px;
    margin: 0 20px;
    border:#349 1px solid;
    width: calc(100% - 406px);
}

#right{
    padding:20px 20px 0 20px;
    border:#999 1px solid;
    width: 80px;
    height:auto;
}

#right img{
    margin-bottom: 20px;
}

