*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    background-color: #468e8d;
}

.slogan{
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
}

#textInput{
    width: 500px;
    height: 40px;
    position: absolute;
    top:calc(40% - 20px);
    left:calc(50% - 250px);
    border-radius: 5px;
    font-size: 20px;
    font-family: "楷体";
    color: purple;
    border: none;
}

#displayControl{
    font-size: 0;
    width: 100%;
    position: absolute;
    top:calc(60% - 25px);
    padding-left: calc((100% - 800px)/2);
}

.btn-type{
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: white;
    background-color: #4caf50;
    border-radius: 5px;
    cursor: pointer;
}

.btn-sizePos{
    height: 48px;
    width: 100px;
    padding: 15px, 32px;
    margin-left: 80px;
}


.btn-type:hover{
    font-weight: bold;
    color: gold;
}

#query{
    text-align: center;
    width: 100%;
    letter-spacing: -5px;
    position: absolute;
    top: 25%;
}

.query-style{
    display: inline-block;
    letter-spacing: normal;
    padding: 0 10px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: palegreen;
}

#resert{
    position: absolute;
    top: 70%;
    left: calc(50% - 100px);
    height: 48px;
    width: 200px;
    padding: 15px, 32px;
}