*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('bg.jpg');
} 

form{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    padding: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}
span, input, button{
    font-family: "微软雅黑";
    font-size: 25px;
    height: 35px;    
    outline: none;
}

input{
    width: 300px;
    margin: 0 20px 0 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
input:focus{
    border-color: blue;
}

button{
    width: 100px;
    border: none;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    color: orange;
}

p{
    font-size: 18px;
    color: gray;
    margin: 3px 0 0 75px;
}

.disRed{color: red;}

.disGreen{color: green;}